
<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Word List</title>

	<!-- Bootstrap core CSS -->
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/dashboard.css" rel="stylesheet">
	<style>
		.raw{
			cursor: pointer;
		}
		.glyphicon-ok{
			color: #26B334;
		}
		.glyphicon-remove{
			color: #DE2626;
		}
		.collect{
			color: #C81818
		}
		.glyphicon-heart-empty{
			cursor: pointer;
		}
		.jumbotron{
			padding-top: 10px;
			text-align: center;
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Word List</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">All Words</a></li>
					<li><a href="#">Not Master</a></li>
					<li><a href="#">Master</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">Personal Homepage</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid" id="content">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li :class="{active: index===currentList}" v-for="(item, index) in wordList" v-bind:data-index="index"><a href="#">Word List{{index+1}}</a></li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<h2 class="sub-header">Word List {{currentList+1}}</h2>
				<div class="table-responsive">
					<table class="table table-striped" class="container-fluid">
						<thead>
							<tr class="row">
								<th class="col-md-1">Num</th>
								<th class="col-md-3">English 
									<input class="btn btn-primary btn-sm" type="button" value="hidden" id="hideEn">

								</th>
								<th class="col-md-4">Englist Test</th>
								<th class="col-md-3">Chinese 
									<input class="btn btn-primary btn-sm" type="button" value="hidden" id="hideCh">
								</th>
								<th class="col-md-1">Collect</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in wordList[currentList]" class="row">
								<td class="col-md-2">{{index+1}}</td>
								<td class="col-md-2 raw en">{{wordList[currentList][index].en}}</td>
								<td class="col-md-4">
									<input type="text" v-bind:data-word="wordList[currentList][index].en">
									<span class="" data-check="true"></span>
								</td>
								<td class="col-md-3 raw ch">{{wordList[currentList][index].ch}}</td>
								<td class="col-md-1">
									<span class="glyphicon glyphicon-heart-empty"></span>
								</td>
							</tr>
	
						</tbody>
					</table>
					<input type="button" class="btn btn-lg btn-primary btn-block" value="查看检测报告" id="checkBtn">					
				</div>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
   	<script src="js/vue.js"></script>
    <script src="js/word_list.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
